*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.box{
width: 80%;
height: 600px;
margin: 50px auto;
border: 2px solid darkorange;
    display: flex;
}


.child{
    width: 150px;
    height: 150px;
    border: 1px solid gold;
    animation-name: qodirali;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
.child2{
    width: 100px;
    height: 100px;
    border: 1px solid gold;
    animation-name: qodirali;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
.child3{
    width: 70px;
    height: 70px;
    border: 1px solid gold;
    animation-name: qodirali;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes qodirali{
    0%{
        background-color: yellow;
        margin-left: 0;
        margin-top: 0;
        border-radius: 30%;
    }
    25%{
        margin-left: 200px;
        margin-top: 0;
        border-radius: 50%;
        background-color: aqua;
    }
    50%{
        background-color: darkgreen;
        margin-left: 400px;
        margin-top: 450px;
        border-radius: 20%;
    }
    75%{
        margin-left: 0;
        margin-top: 200px;
        border-radius: 10%;
        background-color: brown;
    }
    100%{
        background-color: fuchsia;
        margin-left: 0;
        margin-top: 0;
    }
}